/* App.css */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #99a5a7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  text-align: center;
  margin: 20px 0;
}

h3 {
  color: #333;
  margin-bottom: 10px;
}

input[type="range"] {
  width: 300px;
  margin-top: 10px;
  appearance: none;
  height: 6px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #388e3c;
}

p {
  font-size: 16px;
  font-weight: bolder;
  color: #262626;
}
